/*General Customizations*/
:root{
    font-family: 'Lato', sans-serif !important;
    --black: #020826;
    --lightest-coffee: #f9f4ef;
    --white: #fffffe;
    --light-coffee: #eaddcf;
    --coffee: #8c7851;
    --grey: #787878;
    font-size: 1rem !important;
    }
.text-color-lightest-coffee{
    color: var(--lightest-coffee) !important;
}
.text-color-light-coffee{
    color: var(--light-coffee) !important;
}
.text-color-coffee{
    color: var(--coffee) !important;
}
.text-color-white{
    color: var(--white) !important;
}
.text-color-grey{
    color: var(--grey)
}
.normal-text{
    font-family: 'Lato', sans-serif !important;
}
.heading-text{
    font-size: 4rem;
    font-family: 'Playfair Display', serif !important;
}
/*Navbar*/
.nav-bar-container{
    min-width: 96vw ;
    margin-left: 2vw ;
    margin-right: 2vw;
}
.brand-logo{
    height: 80px;
}
.my-logo{
    height: 30px !important;
}


/*Hover Library Customization*/
.hvr-underline-from-center:before{
    background-color: var(--light-coffee) !important;
}