/*General Customizations*/
:root{
    font-family: 'Lato', sans-serif !important;
    --black: #020826;
    --lightest-coffee: #f9f4ef;
    --white: #fffffe;
    --light-coffee: #eaddcf;
    --coffee: #8c7851;
    --grey: #787878;
    font-size: 1rem !important;
    }
.text-color-lightest-coffee{
    color: var(--lightest-coffee) !important;
}
.text-color-light-coffee{
    color: var(--light-coffee) !important;
}
.text-color-coffee{
    color: var(--coffee) !important;
}
.text-color-white{
    color: var(--white) !important;
}
.text-color-grey{
    color: var(--grey)
}
.normal-text{
    font-family: 'Lato', sans-serif !important;
}
.heading-text{
    font-size: 4rem;
    font-family: 'Playfair Display', serif !important;
}
/*Navbar*/
.nav-bar-container{
    min-width: 97vw ;
    margin-left: 1.5vw ;
    margin-right: 1.5vw;
    padding-right: 0px ;
    padding-left: 0px;
}
.brand-logo{
    height: 80px;
}
.my-logo{
    height: 30px !important;
}
.navbar-brand{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/*Slick Carousel */
.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}
@media screen and (max-width: 1200px){
    .navbar-translate {
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        transform: translateX(0);
        transition: all .33s cubic-bezier(.685,.0473,.346,1);
        justify-content: space-between;
    }
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}
/*Hover Library Customization*/
.hvr-underline-from-center:before{
    background-color: var(--light-coffee) !important;
}