$black: #090700;
$lightest-coffee: #f9f4ef;
$white: #fffffe;
$light-coffee: #eaddcf;
$coffee: #b9a787;
$coffee-opacity-4: rgba(185, 167, 135, 0.3);
$coffee-opacity-8: rgba(185, 167, 135, 0.6);
$grey: #787878;
$grey-dark: #515151;
$grey-darker: #292929;
$yellow: #fbc658;