.vertical-gallery {
  position: relative;

  &-image {
    width: 100%;
    @include respond(phone) {
      width: 80%;
    }

    &-caption--left p {
      transform: rotate(90deg);
      transform-origin: left top 0;
      float: left;
      min-width: 2rem;
      top: 0;
      left: -0.5rem;
      font-weight: 500;
      position: absolute;
      @include respond(phone) {
        display: none;
      }
    }

    &-caption--left p:after {
      position: absolute;
      top: 1.2rem;
      right: -6.2rem;
      content: ' ';
      display: inline-block;
      width: 5.2rem;
      height: 0.2rem;
      background: #0f0f0f;
    }

    &-caption--right p {
      transform: rotate(90deg);
      transform-origin: right top 0;
      float: right;
      min-width: 2rem;
      top: 12.7rem;
      right: -2.8rem;
      font-weight: 500;
      position: absolute;
      @include respond(tab-land) {
        display: none;
      }
    }

    &-caption--right p:after {
      position: absolute;
      top: 1.2rem;
      right: -6.2rem;
      content: ' ';
      display: inline-block;
      width: 5.2rem;
      height: 0.2rem;
      background: #0f0f0f;
    }
  }

  &__content__item {
    z-index: 2;
    margin-bottom: 10rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    @include respond(tab-port) {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {

    &__heading__btn {
      @include respond(tab-land) {
        width: 25rem;
      }
    }


    &__image {
      width: 100%;
      height: auto;

      &--left, &--right {
        position: relative;
        z-index: 2;
        @include respond(tab-port) {
          width: 80%;
          height: auto;
        }
      }

      &-and-caption {
        position: relative;
      }

      &-and-caption p {
        display: block;
        @include respond(tab-port) {
          display: none;
        }
      }

      &--left, &--right {
        z-index: 2;
        @include respond(tab-port) {
          width: 100%;
          height: auto;
        }
      }

      @include respond(tab-land) {
        width: 50%;
        height: auto;
      }
      @include respond(tab-port) {
        order: 1;
      }
    }


    &__heading {
      z-index: 3;
      margin: 5rem;
      display: flex;
      flex-flow: column;
      justify-content: space-around;

      &__main {
        &--left {
          text-align: left;
        }

        &--right {
          text-align: right;
        }

        @include respond(tab-land) {
          text-align: center !important;
        }
      }

      @include respond(tab-land) {
        margin: 1.5rem;
        &--left {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        &--right {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
      @include respond(tab-port) {
        order: 2;
      }
    }
  }


  &__background__bean {
    position: absolute;
    top: 8%;
    left: 75%;
    z-index: 0;
  }

  &-background__bean__image {
    opacity: 0.2;
    width: 60%;
    height: auto;
    margin-left: 5%;
  }


  &__content {
    padding-top: 5rem;
    top: 0;
    background-color: var(--lightest-coffee);
  }

  &__background {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &-background {
    &__beans {
      &-row {
        @include respond(tab-land) {
          z-index: 0;
        }
      }

      &--top-right, &--left-bottom {
        position: absolute;
        width: 10%;
        height: auto;
      }

      &--top-right {
        top: 15%;
        right: 0%;
      }

      &--left-bottom {
        bottom: 10%;
        left: 0%;
      }

      @include respond(tab-land) {
        opacity: 0.8;
      }
    }
  }
}
